.resume-container {
    margin-top: 65px;
}

.resume-project-description {
    padding-left: 30px;
    padding-right: 30px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #808080;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-primary .panel-heading .accordion-toggle:after {
    color: #ffffff;
}

.panel-default .panel-heading .accordion-toggle:after {
    color: #808080;
}
.row {
    margin-right: 0;
    margin-left: 0;
}